<% if @manual.beta? %>
  <%= render partial: 'govuk_component/beta_label' %>
<% end %>
<header aria-labelledby="manual-title" class="<%= @manual.hmrc? ? 'hmrc' : nil %>">
  <div class='primary'>
    <% if @manual.hmrc? %>
      <span class='manual-type'>HMRC internal manual</span>
    <% end %>

    <h1 id="manual-title"><%= @manual.title %></h1>
    <% if @manual.organisations.any? %>
      <dl>
        <dt>From</dt>
        <dd><%= links_to_sentence(@manual.organisations) %></dd>
        <dt>Updated</dt>
        <dd><%= marked_up_date(@manual.updated_at) %>, <%= link_to 'see all updates', @manual.updates_url %></dd>
      </dl>
    <% end %>
    <div class="in-manual-search">
      <form action="/search" >
        <label for="search-box">Search this manual</label>
        <input type='hidden' name="filter_manual[]" value="<%= @manual.url %>">
        <input id="search-box" type="text" name="q"/>
        <button type="submit">search</button>
      </form>
    </div>
  </div>
  <div class='secondary'>
    <div class='secondary-inner'>
      <p>
        <%= link_to 'Give feedback about this page', 'https://www.gov.uk/contact/govuk', :class=> "feedback" %>
      </p>
    </div>
  </div>
</header>
<ol class='breadcrumb-trail' role='breadcrumbs'>
  <% if request.path == @manual.url %>
    <li class="no-separator">Contents</li>
  <% else %>
    <li><%= link_to 'Contents', @manual.url %></li>
  <% end %>

  <% if @document %>
    <% @document.breadcrumbs.each do | crumb | %>
      <li> <%= link_to crumb.label, crumb.link %></li>
    <% end %>
    <li class='last-child'><%= @document.breadcrumb %></li>
  <% end %>
</ol>
