<header class="<%= @document.hmrc? ? 'hmrc' : nil %>">
  <div class='primary'>

    <% if @document.hmrc? %>
      <span class='manual-type'>HMRC manuals</span>
    <% end %>


    <h1><%= params[:manual_id].titlecase %></h1>
    <dl>
      <% if @document.topics %>
        <dt>Part of</dt>
        <dd>
          <%= links_to_sentence(@document.topics) %>
        </dd>
      <% end %>
      <% if @document.organisations %>
        <dt>Published by</dt>
        <dd>
          <%= links_to_sentence(@document.organisations) %>
        </dd>
      <% end %>
    </dl>
  </div>
  <div class='secondary'>
    <div class='secondary-inner'>
      <p>
        Manual updated:<time datetime="2014-01-23T00:00:00+01:00">23 January 2014</time>
      </p>
    </div>
  </div>
</header>
<ol class='breadcrumb-trail' role='breadcrumbs'>
  <% @document.breadcrumbs.each do | crumb | %>
    <li> <%= link_to crumb.label, crumb.link %></li>
  <% end %>
  <li class='last-child'><strong><%= @document.section_id %></strong></li>
</ol>
