<% if manual.beta? %>
  <%= render partial: 'govuk_component/beta_label' %>
<% end %>
<header aria-labelledby="manual-title" class="<%= manual.hmrc? ? 'hmrc' : nil %>">
  <div class='primary'>
    <% if manual.hmrc? %>
      <span class='manual-type'>HMRC internal manual</span>
    <% end %>

    <h1 id="manual-title"><%= @manual.title %></h1>
    <%= render partial: 'govuk_component/metadata', locals: manual.metadata %>

    <div class="in-manual-search">
      <form action="/search" >
        <label for="search-box">Search this manual</label>
        <input type='hidden' name="filter_manual[]" value="<%= manual.url %>">
        <input id="search-box" class="in-manual-search-box" type="text" name="q"/>
        <button type="submit">search</button>
      </form>
    </div>
  </div>
  <div class='secondary'>
    <div class='secondary-inner'>
      <p>
        <%= link_to 'Give feedback about this page', 'https://www.gov.uk/contact/govuk', :class=> "feedback" %>
      </p>
    </div>
  </div>
</header>
<ol class='breadcrumb-trail'>
  <% if request.path == manual.url %>
    <li class="no-separator">Contents</li>
  <% else %>
    <li><%= link_to 'Contents', manual.url %></li>
  <% end %>

  <% if @document %>
    <% @document.breadcrumbs.each do | crumb | %>
      <li> <%= link_to crumb.label, crumb.link %></li>
    <% end %>
    <li class='last-child'><%= @document.breadcrumb %></li>
  <% end %>
</ol>
