<% if presented_manual.beta? %>
  <div class='manual-in-beta'>
    <%= render partial: 'govuk_component/beta_label' %>
  </div>
<% end %>

<%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_store_manual %>

<header aria-labelledby="manual-title" class="<%= presented_manual.hmrc? ? 'hmrc' : nil %>">

  <div class='primary'>
    <% if presented_manual.hmrc? %>
      <span class='manual-type'>HMRC internal manual</span>
    <% end %>

    <h1 id="manual-title"><%= presented_manual.title %></h1>
    <%= render 'govuk_publishing_components/components/metadata', presented_manual.metadata %>

    <div class="in-manual-search">
      <form action="/search" >
        <label for="search-box">Search this manual</label>
        <input type='hidden' name="filter_manual[]" value="<%= presented_manual.url %>">
        <input id="search-box" class="in-manual-search-box" type="text" name="q"/>
        <button type="submit">search</button>
      </form>
    </div>
  </div>
  <div class='secondary'>
    <div class='secondary-inner'>
      <p>
        <%= link_to 'Give feedback about this page', 'https://www.gov.uk/contact/govuk', :class=> "feedback" %>
      </p>
    </div>
  </div>
</header>
