<article aria-labelledby="manual-title" id="content">
  <div class='manual-body'>
    <% if presented_manual.summary.present? %>
      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: presented_manual.summary
      } %>
    <% end %>
    <% if presented_manual.body.present? %>
      <%= render 'govuk_publishing_components/components/govspeak', {} do %>
        <%= raw(presented_manual.body) %>
      <% end %>
    <% end %>
    <% presented_manual.section_groups.each do | group | %>
      <% if presented_manual.hmrc? %>
      <div class='subsection-collection'>
        <%= render 'hmrc_sections', group: group %>
      </div>
      <% else %>
        <%= render "govuk_publishing_components/components/document_list", {
          items: group.sections.map do | section |
            {
              link: {
                text: section.title,
                path: section.path,
                description: section.summary,
                full_size_description: true,
              }
            }
          end
        } %>
      <% end %>
    <% end %>
  </div>
</article>
