<div class='manual-body' id="content">
  <article aria-labelledby="section-title">
    <h1 id="section-title" class='section-title'><%= presented_document.title %></h1>
    <% if presented_document.summary %><p class='summary'><%= presented_document.summary %></p><% end %>
    <% if presented_manual.hmrc? %>
      <% if presented_document.body.present? %>
        <div class='body-content-wrapper'>
          <%= render "govuk_publishing_components/components/govspeak", {} do %>
            <%= sanitize(presented_document.body) %>
          <% end %>
        </div>
      <% end %>
      <div class='subsection-collection'>
        <% presented_document.section_groups.each do | group | %>
        <%= render 'hmrc_sections', :group => group %>
      <% end %>
      </div>

      <%= render 'govuk_publishing_components/components/previous_and_next_navigation', previous_and_next_links(presented_document) %>

    <% else %>
      <% if presented_document.body.present? %>
        <div class='js-collapsible-collection subsection-collection' data-collapse-depth=<%= presented_document.collapse_depth %>>
          <div class='collapsible-subsections'>
            <%= render "govuk_publishing_components/components/govspeak", {} do %>
              <%= sanitize(presented_document.body) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </article>
</div>
