<div class='manual-body' id="content">
  <article aria-labelledby="section-title">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Updates: #{presented_manual.title}",
      font_size: "l",
      heading_level: 1,
      id: "section-title",
    } %>

    <% presented_manual.change_notes.by_year.each do |year, updates_by_year| %>
      <%= render "govuk_publishing_components/components/heading", {
        text: year,
        font_size: "l"
      } %>

      <%= render "govuk_publishing_components/components/accordion", {
        heading_level: 3,
        items: updates_by_year.map do |day, updated_documents|
          accordion_content = capture do %>
            <dl class='updates-list'>
              <% updated_documents.each do |document| %>
                <dt><%= link_to document.title, document.base_path, class: "govuk-link" %></dt>
                  <% document.change_notes.each do |note| %>
                    <dd><%= note.strip %></dd>
                  <% end %>
              <% end %>
            </dl>
          <% end

          {
            heading: {
              text: sanitize("#{marked_up_date(day)} <span class=\"visuallyhidden\">published amendments</span>"),
            },
            content: {
              html: accordion_content
            }
          }
        end
      } %>
    <% end %>
  </article>
</div>
