<div class="manual-body <%= local_assigns.has_key?(:new_navigation) ? 'new-navigation' : ''%>" id="content">
  <article aria-labelledby="section-title">
    <h1 id="section-title" class='section-title'><%= presented_document.title %></h1>
    <% if presented_document.summary %><p class='summary'><%= presented_document.summary %></p><% end %>
    <% if presented_manual.hmrc? %>
      <% if presented_document.body.present? %>
        <div class='body-content-wrapper'>
          <%= render partial: 'govuk_component/govspeak', locals: {
            content: presented_document.body
          } %>
        </div>
      <% end %>
      <div class='subsection-collection'>
        <% presented_document.section_groups.each do | group | %>
        <%= render 'hmrc_sections', :group => group %>
      <% end %>
      </div>

      <%= render partial: 'govuk_component/previous_and_next_navigation', locals: previous_and_next_links(presented_document) %>

    <% else %>
      <% if presented_document.body.present? %>
        <div class='js-collapsible-collection subsection-collection' data-collapse-depth=<%= presented_document.collapse_depth %>>
          <div class='collapsible-subsections'>
            <%= render partial: 'govuk_component/govspeak', locals: {
              content: presented_document.body,
              rich_govspeak: true,
            } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </article>
</div>
