<article aria-labelledby="manual-title" id="content">
  <div class="manual-body <%= local_assigns.has_key?(:new_navigation) ? 'new-navigation' : ''%>">
    <% if presented_manual.summary.present? %><p class='summary'><%= presented_manual.summary %></p><% end %>
    <% if presented_manual.body.present? %>
      <%= render partial: 'govuk_component/govspeak', locals: {
        content: presented_manual.body
      } %>
    <% end %>
    <% presented_manual.section_groups.each do | group | %>
      <% if presented_manual.hmrc? %>
      <div class='subsection-collection'>
        <%= render 'hmrc_sections', group: group %>
      </div>
      <% else %>
        <ol class='section-list'>
        <% group.sections.each do | section | %>
          <li>
          <%= link_to section.path, class: "#{section.section_id.present? ? 'subsection-with-id' : ''}" do %>
              <span class='subsection-title-text'><%= section.title %></span>
              <span class='subsection-summary'><%= section.summary %></span>
          <% end %>
          </li>
        <% end %>
        </ol>
      <% end %>
    <% end %>
  </div>
</article>
