<%
  document_heading = []
  document_heading << presented_document.breadcrumb if presented_document.breadcrumb.present?
  document_heading << presented_document.title unless document_heading.include?(presented_document.title)

%><div class='manual-body' id="content">
  <article aria-labelledby="section-title">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: document_heading.join(" - "),
        font_size: "m",
        id: "section-title",
        heading_level: 1,
        margin_bottom: 4,
      } %>
    </div>

    <% if presented_document.summary.present? %>
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/lead_paragraph", {
          text: presented_document.summary
        } %>
      </div>
    <% end %>
    <% if presented_manual.hmrc? %>
      <% if presented_document.body.present? %>
        <div class='govuk-grid-column-two-thirds'>
          <%= render 'govuk_publishing_components/components/govspeak', {} do %>
            <%= raw(presented_document.body) %>
          <% end %>
        </div>
      <% end %>

      <% presented_document.section_groups.each do | group | %>
        <div class='subsection-collection govuk-grid-column-full'>
          <%= render 'hmrc_sections', :group => group %>
        </div>
      <% end %>

      <div class="govuk-grid-column-full">
        <%= render 'govuk_publishing_components/components/previous_and_next_navigation', previous_and_next_links(presented_document) %>
      </div>
    <% else %>
      <% if presented_document.body.present? %>
        <div class='govuk-grid-column-two-thirds'>
          <%= render "govuk_publishing_components/components/govspeak", {} do
            raw(presented_document.intro)
          end %>
        <% if presented_document.visually_expanded? %>
          <% presented_document.main.map do |item| %>
            <div class="subsection__header govuk-!-margin-bottom-3">
              <%= render "govuk_publishing_components/components/heading", {
                text: item[:heading][:text],
                font_size: "m",
                margin_bottom: 1,
                id: item[:heading][:id],
              } %>
            </div>
            <div class="govuk-body govuk-!-margin-bottom-1 subsection__description">
              <%= render "govuk_publishing_components/components/govspeak", {} do
                raw(item[:content])
              end %>
            </div>
          <% end %>
        <% else %>
          <%= render "govuk_publishing_components/components/accordion", {
            anchor_navigation: true,
            items: presented_document.main.map do |item|
              rendered_content = render "govuk_publishing_components/components/govspeak", {} do
                raw(item[:content])
              end

              {
                heading: item[:heading],
                content: {
                  html: rendered_content,
                },
              }
            end
          } %>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </article>
</div>
