<li class='manual-subsection <%= section.body.present? ? "js-openable" : "link-out" %>' id='<%= section.section_id %>' data-section-id='<%=section.section_id %>'>
  <a href='/guidance/employment-income-manual/<%= section.section_id %>' class='subsection-title <%= section.section_id.present? ? 'subsection-with-id' : ''%>'>
    <span class='subsection-id'><%= section.section_id %></span>
    <span class='subsection-title-text'><%= section.title %></span>
    <span class='subsection-summary'><%= section.summary %></span>

  </a>
  <% if section.body.present? %>
    <div class='subsection-body'><%= govspeak_to_html(section.body) %></div>
  <% end %>
</li>
