<%=
  render(
    'content_for_head_tag',
    description: presented_manual.summary,
    title: presented_manual.full_title,
  )
%>

<% if show_tasklist_header? %>
  <%= render "govuk_publishing_components/components/task_list_header", {
    title: "Learn to drive a car: step by step",
    path: "/learn-to-drive-a-car"
  } %>
<% end %>

<% if presented_manual.beta? && !show_tasklist_header? %>
  <div class='manual-in-beta'>
    <%= render partial: 'govuk_component/beta_label' %>
  </div>
<% end %>
<%= render 'header', presented_manual: presented_manual %>
<%= render 'manual_breadcrumbs', presented_manual: presented_manual %>
<%= render 'manual', presented_manual: presented_manual %>
