<%=
  render(
    'content_for_head_tag',
    description: presented_manual.summary,
    title: presented_manual.full_title
  )
%>
<%= content_for :extra_head_content do %>
  <%= ab_test.requested_variant.analytics_meta_tag.html_safe %>
<% end %>
<%= render 'govuk_component/beta_label' %>
<%= render 'govuk_component/breadcrumbs',
  breadcrumbs: presented_manual.taxonomy_breadcrumbs %>

<div class='grid-row new-navigation'>
  <div class='column-two-thirds'>
    <%= render('header', presented_manual: presented_manual) %>
    <%= render('manual', presented_manual: presented_manual) %>
  </div>
  <div class='column-one-third'>
    <%# Placeholder for new side navigation %>
  </div>
</div>
