<%=
  render(
    'content_for_head_tag',
    description: presented_manual.summary,
    title: presented_manual.full_title,
  )
%>

<% if step_nav_helper.show_header? %>
  <%= render "govuk_publishing_components/components/step_by_step_nav_header", step_nav_helper.header %>
<% end %>

<% if presented_manual.beta? %>
  <div class='manual-in-beta'>
    <%= render partial: 'govuk_component/beta_label' %>
  </div>
<% end %>
<%= render 'header', presented_manual: presented_manual %>
<%= render 'manual_breadcrumbs', presented_manual: presented_manual %>
<%= render 'manual', presented_manual: presented_manual %>
