<% content_for :title, @manual.title %>
<%= render partial: "header" %>
<div class='manual-section'>
  <h2 class='section-title'><%= @document.section_id %> <span class='title'><%= @document.title %></span></h2>
  <div class='section-content'>
    <p class='summary'><%= @document.summary %></p>
    <% if @document.body.present? %>
      <div class='js-collapsible-collection subsection-collection'>
        <div class='title-controls-wrap'>
        </div>
        <div class='collapsible-subsections'>
          <div class='govspeak'>
            <%= raw @document.body %>
          </div>
        </div>
      </div>
    <% end %>

    <% @document.section_groups.each do | group | %>
      <div class='js-collapsible-collection subsection-collection'>
        <% if group.title %>
          <div class='title-controls-wrap'>
            <h3 class='title'><%= group.title %></h3>
          </div>
        <% end %>
        <div class='collapsible-subsections'>
          <% group.sections.each do | subsection | %>
            <% if subsection.collapsible? %>
              <%= render 'collapsible_subsection', :section => subsection %>
            <% else %>
              <%= render 'non_collapsible_subsection', :section => subsection %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
