<%=
  render(
    'content_for_head_tag',
    description: presented_manual.summary,
    title: presented_document.full_title
  )
%>
<%= render 'govuk_component/beta_label' %>
<%= render 'govuk_component/breadcrumbs',
  breadcrumbs: presented_document.taxonomy_breadcrumbs %>

<div class='grid-row new-navigation'>
  <div class='column-two-thirds'>
    <%= render('header', presented_manual: presented_manual) %>
    <%=
      render(
        'manual_section',
        presented_manual: presented_manual,
        presented_document: presented_document
      )
    %>
  </div>
  <div class='column-one-third'>
    <%= render 'taxonomy_sidebar', presented_manual: presented_manual %>
  </div>
</div>
