<%=
  render(
    'content_for_head_tag',
    description: presented_document.summary,
    title: presented_document.full_title,
  )
%>
<% if presented_manual.beta? %>
  <div class='manual-in-beta'>
    <%= render partial: 'govuk_component/beta_label' %>
  </div>
<% end %>
<%= render 'header', presented_manual: presented_manual %>
<%=
  render(
    'manual_breadcrumbs',
    presented_manual: presented_manual,
    presented_document: presented_document
  )
%>
<%=
  render(
    'manual_section',
    presented_manual: presented_manual,
    presented_document: presented_document
  )
%>
