<%= render partial: "header" %>
<div class='manual-section'>
  <h2><%=@document['details']['manual-section-id'] %> <span class='title'><%=@document['title'] %></span></h2>
  <div class='section-content'>
    <%= govspeak_to_html(@document['details']['body']) %>
    <% @document['details']['sections'].each do | section | %>
    <div class='js-collapsible-collection subsection-collection'>
      <h3 class='title'><%=section['title'] %></h3>
      <ol class='section-links'>
        <% section['sections'].each do | subsection | %>
          <%= render 'section', :section => subsection %>
        <% end %>
      </ol>
    </div>
    <% end %>
  </div>
</div>
