<%= render partial: "header" %>

<h2><%=@document['id'] %> <strong><%=@document['title'] %></strong></h2>
<h3>What are incentive award schemes?</h3>
<%= @document['body'].html_safe %>

<% @document['sections'].each do | section | %>
  <section>
    <span class='section-id'><%= section['id'] %></span><h4><%= section['title'] %></h4>
    <%= section['body'].html_safe %>
  </section>
<% end %>
