<% content_for :title, @manual.title %>

<div class='manual-section'>
  <h1 class='section-title'><span class='title'><%= @change_notes.title %></span></h1>
  <div class="updates-hint govspeak">
    <p>Select one of the dates below to see details of updates to this guidance.</p>
  </div>
  <div class='section-content'>
    <% @change_notes.by_year.each do |year, updates_by_year| %>
      <div class='js-collapsible-collection subsection-collection'>
        <div class='title-controls-wrap'>
          <p class='title'><%= year %></p>
        </div>
        <div class='collapsible-subsections'>
          <% updates_by_year.each do |day, updated_documents| %>
            <h2>
              <span class='subsection-title-text'>
                <%= marked_up_date(day) %>
                <span class="visuallyhidden">
                  published amendments
                </span>
              </span>
            </h2>
            <div class="js-ignore-h2s">
              <% updated_documents.each do |document| %>
                <div class="changed-document govspeak">
                  <h3>
                    <%= link_to document.title, document.path %>
                  </h3>
                  <% document.change_notes.each do |note| %>
                    <p><%= note %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
