<%=
  render(
    'content_for_head_tag',
    description: "List of updates to '#{presented_manual.full_title}'.",
    title: 'Updates - ' + presented_manual.full_title,
    add_ab_meta_tag: true
  )
%>

<%= render 'taxonomy_beta_label' %>

<%= render 'govuk_component/breadcrumbs',
  breadcrumbs: presented_manual.taxonomy_breadcrumbs,
  collapse_on_mobile: true %>

<div class='grid-row'>
  <div class='column-two-thirds new-navigation'>
    <%= render('header', presented_manual: presented_manual) %>
    <%= render 'manual_updates', presented_manual: presented_manual %>
  </div>
  <div class='column-one-third'>
    <%= render 'taxonomy_sidebar', presented_manual: presented_manual %>
  </div>
</div>
