<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - GOV.UK</title>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application" %><!--<![endif]-->
  <!--[if lte IE 8]><%= stylesheet_link_tag "application-ie8" %><script>var ieVersion = 8;</script><![endif]-->
  <%= stylesheet_link_tag "print", media: "print" %>
  <%= javascript_include_tag "test-dependencies" if Rails.env.test? %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_store_manual %>
  <%= yield :extra_head_content %>
</head>
<body>
  <div id="global-breadcrumb" class="header-context"></div>
  <div id="wrapper" class="govuk-width-container">
    <% if @presented_manual.beta? %>
      <%= render 'govuk_publishing_components/components/phase_banner', phase: "beta" %>
    <% end %>
    <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_store_manual %>
    <main role="main" class="hmrc-internal-manuals-frontend-content outer-block">
      <div id="manuals-frontend" class='manuals-frontend-body inner-block'>
        <%= yield %>
        <div class="print-page">
          <%= link_to 'Print this page', '#', :onclick => 'window.print();return false;', :class => 'govuk-link'%>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
